### Imports

In [4]:
import pandas as pd
import numpy as np
import os

### Constants declared here

In [18]:
#Constants

DATASET_PATH = os.path.normpath("D:\Data Science projects\Movies")

### The functions being used are defined in the cell below

In [35]:
def load_dataset():
    data_set = {}
    data_set['movies_meta']  = pd.read_csv(os.path.join(DATASET_PATH, "movies_metadata.csv"), index_col=0)
    data_set['credits']  = pd.read_csv(os.path.join(DATASET_PATH, "credits.csv"), index_col=0)
    data_set['keywords'] = pd.read_csv(os.path.join(DATASET_PATH, "keywords.csv"), index_col=0)
    data_set['links'] = pd.read_csv(os.path.join(DATASET_PATH, "links.csv"), index_col=0)
    data_set['links_small'] = pd.read_csv(os.path.join(DATASET_PATH, "links_small.csv"), index_col=0)
    #data_set['ratings'] = pd.read_csv(os.path.join(DATASET_PATH, "ratings.csv"), index_col=0)
    data_set['ratings_small'] = pd.read_csv(os.path.join(DATASET_PATH, "ratings_small.csv"), index_col=0)

    return data_set

In [36]:
data = load_dataset()

In [37]:
data['movies_meta'].head()

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
adult,,,,,,,,,,,,,,,,,,,,,
False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0